
.Logo.img{ background-color:white;
    display:block;
   margin:auto;
    opacity: 1;
 height:200px;
 width:883px;
}

.Landing.img{
    height: 735px;
    width:490px;
    padding: 20px;
    border: 3px  solid white;
    border-radius: 20%; 
    margin: 20px;
    color: black;
    background-color: white;
    opacity: 0.5;
}  
main{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
    font-weight: light;
   width:90%;
   max-width:1200px;
   margin:auto;
   padding:20px 20px 80px;
   
}
footer{background-color:black;
       color:white;
       text-align:centre;
       width:50%; align:right;
       height:50px
       bottom:0;
       padding:10px;
       
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: larger;
    font-style: italic;
}
a:link{
    color: blue;
    text-decoration:none;
}


a:hover{
    color: red;
    text-decoration: underline;
}
nav{
display:flex;
justify-content:center;
display:block;
width:100%
}
nav a {
font-size:20px;
padding:5px 10px;
text-decoration:none;
color:white;
background-color:black;
border-radius:5px;
}
