.Logo image{height: 200px; width: 883px;
    padding: 20px;
    border: 50px black;
    border-radius: 20%; border-color black;
    margin: 80px;
    color: black;
    background-color: black;
    opacity: 0.75;

}

.Landing image{
    height: 735px;
    width:490px;
    padding: 50px;
    border: 20px black;
    border-radius: 20%; border-color black;
    margin: 80px;
    color: black;
    background-color: black;
    opacity: 0.75;
}  
.main section{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
    font-weight: bold;

}
.my details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}

}
a:visited{
    color: beige;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline;
}

